#!/usr/bin/env perl

# Script to use in a filter branch chain to remove unwanted blobs.
# E.g.
# --index-filter '
#     git ls-files -s |
#     this-script |
#     git update-index --index-info
# '

use strict;
use warnings;

my %unwanted = (
@@BLOBS_TO_REMOVE@@
);

while (<>) {
    if (/(\d+) ([[:xdigit:]]{40}) 0\t(.*)$/) {
        my ($id, $path) = ($2, $3);
        if (exists($unwanted{$id})) {
            print "0 0000000000000000000000000000000000000000 0\t$path\n"
        }
# e.g. remove paths unconditionally
#        elsif ($path =~ m|^build/bin/|) {
#            print "0 0000000000000000000000000000000000000000 0\t$path\n"
#        }
    }
}

#   Copyright (C) 2015,2016 Bloomberg Finance L.P.
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
